# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyC9l9-1giUDGcDRsLPo3IcwqUXpF5XbpKQ"
VITE_FIREBASE_AUTH_DOMAIN="gympulse-afcb1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gympulse-afcb1"
VITE_STORAGE_BUCKET="gympulse-afcb1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="134180166414"
VITE_FIREBASE_APP_ID="1:134180166414:web:4833dfe396c3abe29e955f"

# Application Mode
VITE_USE_MOCK_DATA=false
